      body {
        font-family: 'Lato', sans-serif;
      }

      #grid {
        display:grid;
        justify-content: center;
        grid-column-gap:10px;
        grid-template-rows: auto;
      }
      .icons .card img {
        height:40px;
        width:40px;
        text-align:center;
      }
      #header {
        grid-area: header;
      }

      #profile {
      	grid-area: profile;
        margin-top: 30px;
        border: 0;
      }

      #profiletext1 {
      	grid-area: profiletext1;
        margin-top: 30px;
      }

      #profiletext1 .card, #profiletext2 .card, #profiletext3 .card, #profiletext4 .card  {
        border: 0;
        margin-left: 40px;
      }

      #profiletext2 {
      	grid-area: profiletext2;
      }

      #profiletext3 {
      	grid-area: profiletext3;
      }

      #profiletext4 {
      	grid-area: profiletext4;
        font-size: 20px;
        margin-top: 30px;
      }

      #connectbutton1 {
      	grid-area: connectbutton1;
      }

      mark {
        background-color: #c6fffc;
  font-style: italic;
  text-align: center;
  border-left: 5px solid #00b2a9;
  padding: 30px;
  width: 800px;
  margin:0 auto;
  
      }

      #icon2 h5, #icon3 h5, #icon1 h5 {
        text-align: : center;
      }

      .btn {
        background-color: #00b2a9;
        color: #ffffff;
      }

      #connectbutton2 {
      	grid-area: connectbutton2;
      }

      h5 a {
        color: #00b2a9;
      }

      #icon1 {
      	grid-area: icon1;
        margin-top: 30px;
      }

       #icons {
        grid-area: icons;
        margin-top: 30px;
      }

      #icon2 {
      	grid-area: icon2;
        margin-top: 30px;
      }

      #icon3 {
      	grid-area: icon3;
        margin-top: 30px;
      }

      #icon1 .card, #icon2 .card, #icon3 .card, #morelikethis .card {
      	border: 0;
      }

      #morelikethis {
      	grid-area: morelikethis;
        margin-top: 70px;
      }

      #morelikethis .card {
        border: 0;
      }

      #first {
        grid-area: first;
      }

      #second {
        grid-area: second;
      }

      #third {
        grid-area: third;
      }

      h5 img {
        margin-right: 20px;
      }

      #profiletext1 .card p, #profiletext2 .card p, #profiletext3 .card p {
        margin-left: 70px;
      } 

      #icon1 .icons {
        justify-content: center;
        display: inline-block;
      }

      #first, #second, #third {
        margin-bottom: 50px;
      }

      #clientstatus {
        color: #ffffff;
      }

      #footer {
        grid-area: footer;
        background-color:slategray;
      }

      @media only screen and (min-width: 1241px) {
        #grid {
          grid-template-columns: repeat(8, 145px);
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header   header   header   header   header header header"
            ". profile profile  profiletext1 profiletext1 profiletext1 profiletext1 ."
            ". profile profile  profiletext2 profiletext2 profiletext2 profiletext2 ."
            ". profile profile  profiletext3 profiletext3 profiletext3 profiletext3 ."
            ". icon1 icon1 icon2 icon2 icon3 icon3 ."
            ". profiletext4 profiletext4 profiletext4 profiletext4 profiletext4 profiletext4 ."
            ". morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis"
            ". first first second second third third ."
            "footer   footer   footer   footer   footer   footer   footer footer"
        }
      }
      
      @media only screen and (max-width: 1240px) {
        #grid {
          grid-template-columns: repeat(6, 145px);
          grid-row-gap: 20px;
          grid-template-areas: 
            "header   header   header   header   header   header"
            "lede lede lede lede lede buttons"
            "sidebar sidebar first   second   third    ."
            "sidebar sidebar . . . moreclients"
            "sidebar sidebar overview1 overview2 overview3 overview4"
            "footer   footer   footer   footer   footer footer"
        }
      }
      
      @media only screen and (max-width: 975px) {
        #grid {
          grid-template-columns: repeat(4, 25%);
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header   header   header"
            "lede    lede    lede    buttons"
            "first first "
            "second   second   third    third"
            "sidebar   sidebar moreclients moreclients"
            "overview1 overview2 overview3 overview4"
            "footer   footer   footer   footer"
        }
      }
      
      @media only screen and (max-width: 655px) {
        #grid {
          grid-template-columns: repeat(2, 50%); 
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header"
            "lede    lede"
            "buttons buttons"
            "first first"
            "second   second"
            "third    third"
            "moreclients moreclients"
            "sidebar   sidebar"
            "overview1 overview1"
            "overview2 overview2"
            "overview3 overview3"
            "overview4 overview4"
            "footer   footer"
        }
      }