      body {
        font-family: 'Lato', sans-serif;
      }

      #grid {
        display:grid;
        justify-content: center;
        grid-template-rows: auto;
      }

      .icons .card img {
        height:80px;
        width:80px;
        text-align:center;
      }

      #header {
        grid-area: header;
      }

      .list-inline-item {
        font-size:170%;
      }

 #joinnowbutton
      {
        background-color:#C9E3DB;
        margin: 0px 20px;
        border: none;
        text-decoration: none;

}
      button#Logout{
        margin: 0px;
      }

      #profile {
      	grid-area: profile;
        margin-top: 30px;
        border: 0;
      }

      #profiletext1 {
      	grid-area: profiletext1;
        margin-top: 30px;
      }

      #profiletext1 .card, #profiletext2 .card, #profiletext3 .card, #profiletext4 .card  {
        border: 0;
        margin-left: 40px;
      }

      #profiletext2 {
      	grid-area: profiletext2;
      }

      #profiletext3 {
      	grid-area: profiletext3;
      }

      #profiletext4 {
      	grid-area: profiletext4;
        font-size: 20px;
        margin-top: 30px;
      }

      #connectbutton1 {
      	grid-area: connectbutton1;
      }

      mark {
        background-color: #C9E3DB;
  font-style: italic;
  text-align: center;
  border-left: 5px solid #00b2a9;
  padding: 30px;
  width: 800px;
  margin:0 auto;
  
      }

      #icon2 h5, #icon3 h5, #icon1 h5 {
        font-size: 15px;
        margin-top: 20px;
      }

      .btn {
        background-color: #00b2a9;
      }

      #connectbutton2 {
      	grid-area: connectbutton2;
      }

      h5 a {
        color: #00b2a9;
      }

      #icon1 {
      	grid-area: icon1;
        margin-top: 30px;
        margin-bottom: 130px;
      }

       #icons {
        grid-area: icons;
        margin-top: 30px;
      }

      #icon2 {
      	grid-area: icon2;
        margin-top: 30px;
      }

      #icon3 {
      	grid-area: icon3;
        margin-top: 30px;
      }

      #icon1 .card, #icon2 .card, #icon3 .card, #morelikethis .card {
      	border: 0;
        text-align: center;
      }

      #icon1 .card-img-top, #icon2 .card-img-top, #icon3 .card-img-top {
        border: 0;
        align-content: center;
      }

      #morelikethis {
      	grid-area: morelikethis;
        margin-top: 70px;
      }

      #morelikethis .card {
        border: 0;
      }

      #first {
        grid-area: first;
      }

      #second {
        grid-area: second;
      }

      #third {
        grid-area: third;
      }

      h5 img {
        margin-right: 20px;
      }

      #profiletext1 .card p, #profiletext2 .card p, #profiletext3 .card p {
        margin-left: 70px;
      } 

      #icon1 .icons {
        justify-content: center;
        display: inline-block;
      }

      #first, #second, #third {
        margin-bottom: 50px;
      }

      #clientstatus {
        font-size: 13px;
      }

      #morelikethis {
        text-transform: uppercase;
        color: #00b2a9;
      }

      .clientbutton a {
        color: black;
      }

      #morelikethis h1 a {
        color: #00b2a9 !important;
      }

      #footer {
       grid-area: footer;
       background-color:#C9E3DB;
     }

    a {
   color: black;
   }

    button.btn{ background-color:#00b2a9 !important;
           border: #00b2a9; }
        
      .list-inline-item {
      font-size:170%;
        }

      @media only screen and (min-width: 1241px) {
        #grid {
          grid-template-columns: repeat(8, 12.5%);
          grid-template-areas: 
            "header   header   header   header   header   header header header"
            ". profile profile profiletext1 profiletext1 profiletext1 profiletext1 ."
            ". profile profile profiletext2 profiletext2 profiletext2 profiletext2 ."
            ". profile profile profiletext3 profiletext3 profiletext3 profiletext3 ."
            ". icon1 icon1 icon2 icon2 icon3 icon3 ."
            ". profiletext4 profiletext4 profiletext4 profiletext4 profiletext4 profiletext4 ."
            "morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis"
            ". first first second second third third ."
            "footer   footer   footer   footer   footer   footer   footer footer"
        }
      }
      
      @media only screen and (max-width: 1240px) {
        #grid {
          grid-template-columns: repeat(6, 1/6);
            grid-template-areas: 
            "header header header header header header"
            "profile profile profiletext1 profiletext1 profiletext1 profiletext1"
            "profile profile profiletext2 profiletext2 profiletext2 profiletext2"
            "profile profile profiletext3 profiletext3 profiletext3 profiletext3"
            ". . . icon1 icon2 icon3"
            "profiletext4 profiletext4 profiletext4 profiletext4 profiletext4 profiletext4"
            "morelikethis morelikethis morelikethis morelikethis morelikethis morelikethis"
            "first first second second third third"
            "footer footer footer footer footer footer"
        }
      }
      
      @media only screen and (max-width: 975px) {
        #grid {
          grid-template-columns: repeat(4, 25%);
          grid-template-areas: 
          "header header header header"
          "profile profile profiletext1 profiletext1"
          "profile profile profiletext2 profiletext2"
          "profile profile profiletext3 profiletext3"
          ". icon1 icon2 icon3"
          "profiletext4 profiletext4 profiletext4 profiletext4"
          "morelikethis morelikethis morelikethis morelikethis"
          ". second first ."
          ". third third ."
          "footer footer footer footer"
        }

        #profile img {
          width: 400px;
          height: 400px;
        }

        #profile .card {
          border: 0;
          margin-left: 20px;
          margin-bottom: 10px;
        }

        #profile button {
          width: 400px;
        }

        #first img {
          margin-left: 10px;
          margin-right: 10px;
        }

        #first .card-img-top, #second .card-img-top{
          width: 220px;
          height: 200px;
        }

        #first .card, #second .card {
          border: 0;  
          text-align: center;
        }

        #third {
          display: none;
        }
      }
      
      @media only screen and (max-width: 655px) {
        #grid {
          grid-template-columns: repeat(2, 50%); 
          grid-row-gap: 10px;
          grid-template-rows: (14,auto);
          grid-template-areas: 
            "header header"
            "profile profile"
            "profiletext1 profiletext1"
            "profiletext2 profiletext2"
            "profiletext3 profiletext3"
            "icon1 icon1"
            "icon2 icon2"
            "icon3 icon3"
            "profiletext4 profiletext4"
           "morelikethis morelikethis"
            "first first"
            "second second"
            "third third"
            "footer footer"
        }

        #icon3 {
          margin-top: 150px;
        }

        #profiletext4 {
          margin-top: 200px !important;
        }

        #profiletext4 p, #profiletext4 h5 {
          width: 200px;
        }

        #profiletext4 mark {
          width: 300px;
        }

        #first img, #second img {
          margin-left: auto;
          margin-right: auto;
        }


      }
