
      #grid {
        display:grid;
        justify-content: center;
        /*grid-gap:10px;*/
      }
      
      .nav-toggler {
        width:150px；
      }

      #header {
        grid-area: header;
      }

      #joinnowbutton
      {
        background-color:#C9E3DB;
        margin: 0px 20px;
        border: none;
        text-decoration: none;

}
      button#Login{
        margin: 0px;
      }
   
    .list-inline-item {
   font-size:170%;
       }
      #one {
        grid-area: one;
      }

      button#started.btn.btn-info{
        background-color:#00B289;
        font-size: 30px;
        margin:20px 0px;
        padding:10px 20px;
        border: none;
        border-radius:8px;
      }

      
      #three {
        grid-area: three;
        background-color:mediumaquamarine;
      }
      
      #four {
        grid-area: four;
        background-color:pink;
      }
      
      #five {
        grid-area: five;
        background-color:deeppink;
      }
      
      #six {
        grid-area: six;
        background-color:orangered;
      }
      
      #seven {
        grid-area: seven;
        background-color:mediumorchid;
      }
      
      #eight {
        grid-area: eight;
        background-color:darkcyan;
      }
      #nine {
        grid-area: nine;
        background-color:green;
      }
      
      #ten {
        grid-area: ten;
        margin: 40px;
  
      }
      #ten .card-img-top {
        border-radius:50%;
        width: 200px;
        margin: 0 auto;

      }

      #eleven .card-img-top {
        border-radius:50%;
        width: 200px;
        margin: 0 auto;


      }

      #ten .card, #eleven .card
      {
        border: 0;
        text-align: center;

      }
      
      #eleven {
        grid-area: eleven;
        margin: 40px;
        
      }
      
      #footer {
        grid-area: footer;
        background-color:#00B289;
      }
      
      #logo {
        width:200px;
      }
      

      .list-inline-item {
    font-size:170%;
      }

      @media only screen and (min-width: 1241px) {
        #grid {
          grid-template-columns: repeat(6, 1/6);
          grid-template-rows: repeat(7, auto);
          grid-template-areas: 
            "header   header   header   header   header   header"
            "one one one one one one"
            "three three four four five five"
            "six six seven seven eight eight"
            "nine nine nine nine nine nine"
            "ten ten ten eleven eleven eleven"
            "footer footer footer footer footer footer"
        }

      #one {
        background-image: url('pigmoney.jpeg');
        padding: 150px 60% 60px 150px;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-size:100%;
        height: 700px;

      }
      }
      

@media only screen and (max-width: 1240px) {
        #grid {
          grid-template-columns: repeat(6, 1/6);
          grid-template-rows: repeat(7, auto);
          grid-template-areas: 
            "header   header   header   header   header   header"
            "one one one one one one"
            "three three four four five five"
            "six six seven seven eight eight"
            "nine nine nine nine nine nine"
            "ten ten ten eleven eleven eleven"
            "footer footer footer footer footer footer"
        }
        #one {
        background-image: url('pigmoney.jpeg');
        background-size: cover;
        padding: 100px 57% 60px 80px;        
        text-align: center;
        width: 100%;
        height:640px;
        left: 0;
        
      }
      }
      
      @media only screen and (max-width: 975px) {
        #grid {
          grid-template-columns: repeat(4, 25%);
          grid-template-rows: repeat(8, auto);
          grid-template-areas: 
            "header   header   header   header"
            "one one one one"
            "three three four four"
            "five five six six"
            "seven seven eight eight"
            "nine nine nine nine"
            "ten ten eleven eleven"
            "footer footer footer footer"
        }

        #one {
        background-image: url('pigmoney50.jpg');
        padding: 80px;
        height:500px;
        width:100%;
      }

      #joinnowbutton
      { font-size:12px;
        margin: 0 5px;
      }

      #Login{
        font-size: 12px;
        padding: 10px 15px;
        margin:0 5px;

      }
      }


    a.btn.btn-primary{
      background-color:#00b2a9;
    }
      
      @media only screen and (max-width: 655px) {
        #grid {
          grid-template-columns: repeat(2, 50%); 
          grid-template-rows: repeat(12, auto);
          grid-template-areas: 
            "header   header"
            "one one"
            "three three"
            "four four"
            "five five"
            "six six"
            "seven seven"
            "eight eight"
            "nine nine"
            "ten ten"
            "eleven eleven"
            "footer footer"
        }

        h1{
          font-size:1.4rem;
          font-weight:bolder;
          padding:5px;
        }

        #one {
        background-image: url('pigmoney50.jpg');
        padding: 17% 17%;
        font-size: 0.8rem;
        text-align: center;
        background-size:100% 100%;
        width:100%;
      }

   button#started.btn.btn-info{
        background-color:#00B289;
        font-size: 20px;
        margin:20px 0px;
        padding:10px 20px;
      }

      }

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}