#grid {
        display:grid;
        justify-content: center;
        grid-gap:10px;
        grid-template-rows: auto;
      }
      
 #header {
        grid-area: header;
        background-color:slategray;
      }

       button#Login{
       margin: 0px;
        }

       button#started.btn.btn-info{
       background-color:#00B289;
       font-size: 30px;
       margin:20px 0px;
       padding:10px 20px;
       border: none;
       border-radius:8px;
        }

#title {
    text-align: center;
    color: #00b2a9;
}

.row {
    margin-left: 100px;
    margin-right: 100px;
    
}


#quiz {
   display: quiz;
}
.quiz-description {
  color: grey;
}
.quiz-question {
  font-weight: 300;
  padding: 15px 0 10px 0;
}
.quiz-question-strong {
  font-weight: 600;
  padding: 15px 0 10px 0;
}
.quiz-answer{
  margin:12px 0 20px 0;
}
.quiz-group {
  margin: 8px 0;
}
.quiz-footer {
  margin: 15px 0 0 0;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 15px;
}
.quiz-yn-group {
  background: #fff;
  height: 100%;
  border: 1px solid #ededed;
}

  
#footer {
       grid-area: footer;
       background-color:#C9E3DB;
     }

.list-inline-item {
   font-size:170%;
}

   button.btn{ background-color:#00b2a9;
           border: #00b2a9; }

   a {
   color: black;
   }

@media only screen and (min-width: 1241px) { .row {
    padding-bottom: 270px; }
}

@media only screen and (max-width: 1240px) { .row {
    padding-bottom: 200px;
    }}

@media only screen and (max-width: 975px)  { .row {
    padding-bottom: 150px;
    }}

@media only screen and (max-width: 655px) { .row {
    padding-bottom: 10px;
    }}



       
