body {
  font-family: 'Lato', sans-serif;
}
   	

     #grid {
        display:grid;
        justify-content: center;
        grid-column-gap:10px;
        grid-template-rows: auto;
      }
      
      #header {
        grid-area: header;
      }

      .buttonsforleads {
        display: inline-block;
      }

      #overview1 mark {
        background-color: #00b2a9;
      }

      #overview2 mark {
        background-color: #Fa1e44;
      }

       #overview3 mark {
        background-color: #ffbd4a;
  
      }

       #overview4 mark {
        background-color: #C9E3DB;
      }

      #overview1 mark, #overview2 mark, #overview3 mark, #overview4 mark {
       border-left: 5px solid #000000;
      padding: 30px;
       margin:0 auto;
      }

      .btn {
        background-color: #00b2a9;
        color: #ffffff;
      }

      h5 a {
        color: #00b2a9;
      }

      
      #lede {
        grid-area: lede;
      }

      #opencases {
        grid-area: opencases;
      }
      #newleads {
        grid-area: newleads;
      }

      #status {
        grid-area: status;  
      }

      #button {
        grid-area: buttons;
      }
      
      #clientstatus mark {
        text-transform: uppercase;
        font-size: 10px;
        margin-top: -4rem; 
        position: relative;
      }

      .image {
        margin-right: 10px;
        margin-top: -1px; 
      }


      #first {
        grid-area: first;
      }

      #second {
        grid-area: second;
      }

      #third {
        grid-area: third;
      }

      #fifth {
        grid-area: fifth;
      }

      #sixth {
        grid-area: sixth;
      }

      #seventh {
        grid-area: seventh;
      }

      a:hover {
        color: #000000;
      }

      .seechat {
        padding-left: 50rem;
        margin-top: -4rem;
        position: relative;
      }
      
      #sidebar {
        grid-area: sidebar;
        font-size: 10px;
        text-transform: uppercase;
      }

      .btn {
        font-size: 12px;
      }

      button:hover {
    background-color: #C9E3DB;
      }

      #sidebar h5 {
        font-size: 15px;
      }

      #sidebar .card {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 67px; /* margin from the top */
      }

      #moreclients1 {
        grid-area: moreclients1;
      }

      #moreclients1 .card {
        border: 0;
      }

      #moreclients2 {
        grid-area: moreclients2;
      }

      #moreclients2 .card {
        border: 0;
      }

      #overview1 {
        grid-area: overview1;
      }

      #overview2 {
        grid-area: overview2;
      }

      #overview3 {
        grid-area: overview3;
      }

      #overview4 {
        grid-area: overview4;
      }

      .responsive {
    width: 100%;
    height: auto;
}

#opencases mark {
  background-color: #C9E3DB;
  text-transform: uppercase;
  font-size: 30px;
}

      #overview1, #overview2, #overview3, #overview4 {
        margin-top: 7rem;
      }

      #banner {
        grid-area: banner;
      }

      #banner .card {
        border: 0;
      }

      #banner img {
        margin-top: 50px;
      }

      #notifications {
        grid-area: notifications;
      }

      #footer {
       grid-area: footer;
       background-color:#C9E3DB;
     }

.list-inline-item {
   font-size:170%;
}

button.btn{ background-color:#00b2a9;
           border: #00b2a9; }
      
      #logo {
        width:200px;
      }


      .btn .btn-primary {
        color: #00b2a9;
      }

      .moreclients .btn .btn-primary {
        color: #00b2a9;
      }

      #card-text {
        background-color: green;
      }
      
      @media only screen and (min-width: 1241px) {
        #grid {
          grid-template-columns: repeat(8, 145px);
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header   header   header   header   header header header"
            "lede lede lede lede lede . . buttons"
            "sidebar sidebar newleads newleads newleads newleads newleads newleads"
            "sidebar sidebar opencases opencases opencases opencases opencases opencases"
            "sidebar sidebar first first first first first first "
            "sidebar sidebar second second second second second second "
            "sidebar sidebar third third third third third third"
            "sidebar sidebar fifth fifth   fifth fifth fifth fifth" 
            "sidebar sidebar  sixth   sixth    sixth   sixth sixth   sixth"
            "sidebar sidebar seventh seventh seventh seventh seventh seventh"
            "sidebar sidebar . . . . . moreclients1"
            "overview1 overview1 overview2 overview2 overview3 overview3 overview4 overview4"
            "banner banner banner banner banner banner banner banner"
            "notifications notifications notifications notifications notifications notifications notifications notifications"
            "footer   footer   footer   footer   footer   footer   footer footer"
        }
      }
      
      @media only screen and (max-width: 1240px) {
        #grid {
          grid-template-columns: repeat(6, 145px);
          grid-row-gap: 20px;
          grid-template-areas: 
            "header   header   header   header   header   header"
            "lede lede lede lede lede buttons"
            "sidebar sidebar first   second   third    ."
            "sidebar sidebar . . . moreclients"
            "sidebar sidebar overview1 overview2 overview3 overview4"
            "footer   footer   footer   footer   footer footer"
        }
      }
      
      @media only screen and (max-width: 975px) {
        #grid {
          grid-template-columns: repeat(4, 25%);
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header   header   header"
            "lede    lede    lede    buttons"
            "first first "
            "second   second   third    third"
            "sidebar   sidebar moreclients moreclients"
            "overview1 overview2 overview3 overview4"
            "footer   footer   footer   footer"
        }
      }
      
      @media only screen and (max-width: 655px) {
        #grid {
          grid-template-columns: repeat(2, 50%); 
          grid-row-gap: 10px;
          grid-template-areas: 
            "header   header"
            "lede    lede"
            "buttons buttons"
            "first first"
            "second   second"
            "third    third"
            "moreclients moreclients"
            "sidebar   sidebar"
            "overview1 overview1"
            "overview2 overview2"
            "overview3 overview3"
            "overview4 overview4"
            "footer   footer"
        }
      }
